<h1>Sign up</h1><br /> 
    <%= form_for(@user, :validate => true) do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  
  <div>
  <%= f.email_field :email, :placeholder => "Email" %>
  </div>

  <div>
  <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <div>
  <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  </div>

  <div><%= f.submit "Sign up" %></div>
  <%= link_to "<<back","sessions/new.html", :remote =>true, :validate => true, :rel => "stuff" %>
<% end %>
 