<header class= "navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "FOOODit", '#', id: "logo" %>
			<nav>
				<ul class = "nav pull-right">
				<% if user_signed_in? %>
					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% else %>

				<li><%= link_to "Signup","#signup", :remote =>true, :class =>"infinite-find"%></li>
				

				<div class = "hidden" id = "signup">
					<h1>Sign up</h1><br /> 
					<%= render "devise/registrations/new" %>
				</div>

				<div class = "hidden" id = "signin">
					<h1>Sign in </h1><br /> 
					<%= render "devise/sessions/new" %>
				</div>
				<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

