<header class= "navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "FOOODit", '#', id: "logo" %>
			<nav>
				<ul class = "nav pull-right">
				<% if user_signed_in? %>
					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% else %>

				<li><%= link_to "Signup","#signup", :remote =>true, :id =>"start"%></li>
				

				<div class = "hidden" id = "signup">
					
					<%= render "devise/registrations/new" %>
		   		
		   	

</div>

<div class = "hidden" id = "signin">
	sign in page here 
</div>
				<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

 <% if false %>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<%end %>